<h2 mat-dialog-title> {{tituloAccion}} Producto</h2>

<mat-dialog-content>

    <form [formGroup]="formularioVenta">
        <mat-grid-list cols="1" rowHeight="80px">
            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Cantidad</mat-label>
                    <input matInput autocomplete="off" formControlName="cantidad" type="number">
                    <mat-icon matSuffix>inventory</mat-icon>
                </mat-form-field>
            </mat-grid-tile>

            <mat-grid-tile>
                <mat-form-field appearance="outline">
                    <mat-label>Precio</mat-label>
                    <input matInput autocomplete="off" formControlName="precioUnitarioTexto">
                    <mat-icon matSuffix>attach_money</mat-icon>
                </mat-form-field>
            </mat-grid-tile>            
            
        </mat-grid-list>
    </form>

</mat-dialog-content>



<mat-dialog-actions align="end">
    <button mat-raised-button mat-dialog-close color="warn">Volver</button>
    <button mat-raised-button color="primary" [disabled]="formularioVenta.invalid" (click)="guardarCambios()">{{botonAccion}}</button>
</mat-dialog-actions>