
<h1 style="margin: 20px 0px 0px 40px;"> Historial Venta </h1>

<mat-card style="margin: 20px 40px 40px 40px; padding: 20px;">
    <mat-card-content>

        <form [formGroup]="formularioBusqueda" (ngSubmit)="buscarVentas()">

            <div class="campos-formulario">
                <mat-form-field appearance="fill">
                    <mat-label>Buscar Por</mat-label>
                    <mat-select formControlName="buscarPor">
                        <mat-option *ngFor="let item of opcionesBusqueda" [value]="item.value">{{item.descripcion}}</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'numero' ">
                    <mat-label>Numero de Orden</mat-label>
                    <input matInput autocomplete="off" formControlName="numero">
                </mat-form-field>

                <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'fecha' ">
                    <mat-label>Numero Inicio</mat-label>
                    <input matInput autocomplete="off" formControlName="fechaInicio" [matDatepicker]="picker1">
                    <mat-datepicker-toggle matSuffix [for]="picker1"> </mat-datepicker-toggle>
                    <mat-datepicker #picker1> </mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="fill" *ngIf="formularioBusqueda.value.buscarPor == 'fecha' ">
                    <mat-label>Numero Fin</mat-label>
                    <input matInput autocomplete="off" formControlName="fechaFin" [matDatepicker]="picker2">
                    <mat-datepicker-toggle matSuffix [for]="picker2"> </mat-datepicker-toggle>
                    <mat-datepicker #picker2> </mat-datepicker>
                </mat-form-field>

                <button mat-raised-button style="background-color: #44b3ff;" [disabled]="formularioBusqueda.invalid" type="submit" class="boton-buscar">
                    <mat-icon>search</mat-icon>
                    Buscar
                </button>     
            </div>
        </form>

        <mat-divider></mat-divider>


        <mat-form-field  appearance="outline" class="input-filter">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="aplicarFiltroTabla($event)" #input> 
        </mat-form-field>

        <div class="mat-elevation-z2">

            <!-- Relacionamos la tabla con la fuente de origen -->
            <table mat-table [dataSource]="datosListaVenta">

                <ng-container matColumnDef="fechaRegistro">
                    <th mat-header-cell *matHeaderCellDef> Fecha Registro </th>
                    <td mat-cell *matCellDef="let element"> {{element.fechaRegistro}} </td>
                </ng-container>
                <ng-container matColumnDef="idVenta">
                    <th mat-header-cell *matHeaderCellDef> Numero de venta </th>
                    <td mat-cell *matCellDef="let element"> {{element.idVenta}} </td>
                </ng-container>
                <ng-container matColumnDef="idUsuarioNombre">
                    <th mat-header-cell *matHeaderCellDef> Usuario </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcionUsuario}} </td>
                </ng-container>
                <ng-container matColumnDef="idClienteNombre">
                    <th mat-header-cell *matHeaderCellDef> Cliente </th>
                    <td mat-cell *matCellDef="let element"> {{element.descripcionCliente}} </td>
                </ng-container>

                <ng-container matColumnDef="accion">
                    <th mat-header-cell *matHeaderCellDef style="width: 80px;"></th>
                    <td mat-cell *matCellDef="let element"> 

                        <button mat-icon-button color="primary" (click)="verDetalleVenta(element)" matTooltip="Ver Detalle">
                            <mat-icon>visibility</mat-icon>
                        </button>

                        <button mat-icon-button color="primary" (click)="eliminarVenta(element.idVenta)" matTooltip="Ver Detalle">
                            <mat-icon>delete</mat-icon>
                        </button>
                        <!-- <button mat-icon-button color="primary" (click)="editarDetalleVenta(element)" matTooltip="Ver Detalle">
                            <mat-icon>edit</mat-icon>
                        </button> -->


                    </td>
                </ng-container>

                <!-- Origen de las columnas de la tabla -->
                <tr mat-header-row *matHeaderRowDef="columnasTabla"> </tr>

                <!-- Itera por cada una de la filas  de la data que tenemos -->
                <tr mat-row *matRowDef="let row; columns: columnasTabla;"> </tr>

                <!-- Muestra una fila en caso de que no haya ninguna informacion -->
                <tr class="mat-row" *matNoDataRow> 
                    <td class="mat-cell" colspan="4">{{input.value}}</td>
                </tr>
            </table>

            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>

            </mat-paginator>

        </div>

    </mat-card-content>
</mat-card>